h1{
    text-align: center;
    margin-bottom: 30px;
}

h2{
    margin-bottom: 30px;
}

.droite{
    background-color: #00A5E4;
}

.boutton{
    background-color: #00A5E4;
    border: none;
    color: white;
    font-weight: bold;
}

.boutton:hover{
    background-color: #00A5E4;
}